.card{
	border: solid 2px #888888;
	border-radius: 4px;
	padding: 20px;
	box-shadow: 5px 5px 5px #888888;
	margin-bottom: 10;
}

.profilepic{
	max-width: 100%;
}

.motto{
	font-style: italic;
	font-weight: bold;
	font-family: helvetica;
	text-align: center;
	color: #a02013;
}